.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202,203,203,0.5);
  -moz-box-shadow: 0 0 5px rgba(202,203,204,0.5);
}
body {
  background-image: url("/images/favicon.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: 100% 100%;
}
.footer-inner {
  color: #ffb6c1;
}
#sidebar p,
#sidebar span,
#sidebar a {
  color: #ffb6c1;
}
#sidebar {
  background: url("/images/2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#sidebar p,
#sidebar span,
#sidebar a {
  color: #ffb6c1;
}
