.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202,203,203,0.5);
  -moz-box-shadow: 0 0 5px rgba(202,203,204,0.5);
}
body {
  background-image: url("/images/favicon.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: 100% 100%;
}
.footer-inner {
  color: #ffb6c1;
}
#sidebar p,
#sidebar span,
#sidebar a {
  color: #ffb6c1;
}
#sidebar {
  background: url("/images/2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#sidebar p,
#sidebar span,
#sidebar a {
  color: #ffb6c1;
}
#posts > article + article .post-block {
  border-radius: 15px;
  box-shadow: 1px 2px 8px 4px rgba(0,0,0,0.15);
  background: rgba(255,255,255,0.9);
}
.pagination {
  border-radius: 15px;
  box-shadow: 1px 2px 8px 4px rgba(0,0,0,0.15);
  background: rgba(255,255,255,0.9);
}
.pagination:hover {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.1), 0 4px 8px 0px rgba(0,0,0,0.1), 0 8px 16px 0px rgba(0,0,0,0.1), 0 16px 32px 0px rgba(0,0,0,0.1) !important;
}
.comments {
  border-radius: 15px;
  box-shadow: 0 1px 2px 0px rgba(0,0,0,0.1), 0 2px 4px 0px rgba(0,0,0,0.1);
  background: rgba(255,255,255,0.9);
}
.comments:hover {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.1), 0 4px 8px 0px rgba(0,0,0,0.1), 0 8px 16px 0px rgba(0,0,0,0.1), 0 16px 32px 0px rgba(0,0,0,0.1) !important;
}
.menu-item-active a,
.menu .menu-item a:hover,
.menu .menu-item span.exturl:hover {
  background: rgba(249,249,249,0.62);
}
.content-wrap {
  width: calc(100% - 300px);
}
@media (max-width: 767px) {
  .content-wrap {
    padding: $content-mobile-padding;
    width: 100%;
  }
}
.back-to-top.back-to-top-on {
  bottom: 30px;
  border-radius: 10px;
}
.site-author-image {
  max-width: 150px;
  width: 135px;
}
.links-of-author-item a,
.links-of-author-item span.exturl {
  padding: 0 10px;
}
/*
**
  文章内容美化
***
 */
.post-body {
  color: #333;
}
code {
  padding: 2px 4px;
  word-wrap: break-word;
  color: #ff7600;
  background: #fbf7f8;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;
}
hr {
  background-color: #86dca3;
}
.posts-expand .post-body img {
  border: 1px #6f42c1;
}
::selection {
  background-color: #59ff83;
  color: #555;
}
.posts-expand .home .post-title {
  font-size: 1.2em;
  text-align: left;
  border-left: #7fb8ee 8px solid;
  padding-left: 12px;
}
.post-title {
  font-weight: 900 !important;
}
.posts-expand .home .post-meta {
  text-align: left;
  margin: 8px 0 15px !important;
}
.post-button {
  text-align: right;
  margin-top: 0;
}
.posts-expand .post-tags a {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-family: 'Comic Sans MS', sans-serif;
  transition: 0.2s ease-out;
  padding: 3px 10px;
  margin: 5px;
  background: #f5f5f5;
  border-bottom: none;
  border-radius: 15px;
mobile()
}
.posts-expand .post-tags a:hover {
  background: #34495e;
  color: #fff;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -moz-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn {
  padding: 3px 15px;
  color: #34495e !important;
  box-shadow: 0 0 0 1px #34495e;
  border: 1px;
  border-radius: 15px;
  position: relative !important;
  text-decoration: none !important;
  transition: color 0.3s ease-in-out;
  display: inline-block;
  line-height: 2;
}
.btn:hover {
  color: #fff !important;
  border-color: #222;
  background: #34495e;
}
.highlight-container {
  background: #7fb8ee;
}
.posts-expand .post-title-link::before {
  background-image: linear-gradient(90deg, #a166ab 0, #ef4e7b 25%, #f37055 50%, #ef4e7b 75%, #a166ab 100%);
}
.category-list a {
  color: #6f42c1;
}
p {
  margin: 0 0 10px 0;
}
.headband {
  height: 0px;
  background: #fc6423;
}
/*
***
  滚动条美化
**
*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-button:start:increment,
::-webkit-scrollbar-button:end:decrement {
  display: none;
}
::-webkit-scrollbar-corner {
  display: block;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(127,184,238,0.5);
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
::-webkit-scrollbar-button:start {
  width: 10px;
  height: 10px;
/*background: url(../images/scrollbar_arrow.png) no-repeat 0 0;*/
/*可以添加滚动条样式*/
}
/*
***
  归档部分美化
**
*/
.posts-collapse::before {
  background: linear-gradient(180deg, #f79533 0, #f37055 15%, #ef4e7b 30%, #a166ab 44%, #5073b8 58%, #1098ad 72%, #07b39b 86%, #6dba82 100%);
  opacity: 0.3;
}
.page-archive .posts-collapse .archive-move-on {
  background-color: #fc6423;
}
.posts-collapse .collection-title::before {
  background-color: #fc6423;
}
.posts-collapse .collection-year::before {
  background-color: #8a2be2;
}
.posts-collapse .post-header::before {
  background-color: #808080;
  opacity: 0;
}
.posts-collapse .post-meta {
  color: #5073b8;
  font-weight: 900;
}
.posts-collapse .post-title {
  margin-left: 5px;
}
.posts-collapse .post-header {
  position: relative;
  box-shadow: 0 1px 3px rgba(111,66,193,0), 0 0px 6px #6f42c1;
  padding: 2px 10px;
  margin: 8px;
  border-bottom: none;
  border-radius: 10px;
  width: 85%;
}
.posts-collapse .post-header:hover {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: inherit;
  box-shadow: 0 1px 3px rgba(111,66,193,0), 0 0px 17px 2px #6f42c1;
  transform: scale(1.02) !important;
}
.posts-collapse .post-title a,
.posts-collapse .post-title span.exturl {
  font-size: small;
}
.site-meta {
  background-image: linear-gradient(200deg, #e4a0a3, #3f51b5) !important;
  background: #fff;
}
.tag-cloud-tags a:before {
  content: "🔖";
}
